*{
    margin: 0;
    padding: 0;
}
.nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.nav-left {
  display: flex;              /* put icon and logo in a row */
  flex-direction: row;
  align-items: center;        /* center vertically in the row */
  gap: 10px; 
  margin-left: 10px;
}

img {
    width: 85px;
    height: 50px;
}
.nav-search {
  display: flex;
  width: 550px;
  align-items: center;
  margin-left: -120px;
  border: .05px solid #ccc;
  border-radius: 25px;
  padding: 5px;
  background-color: black;
}

.search-input{
  border: none;
  outline: none;
  padding: 1px;
  flex: 1;
  border-radius: 25px;
  background-color: black;
}
.btn-search, .btn-mic {
   background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 14px;
  color: white;
  transition: all 0.2s ease;

}